* {
  margin: 0;
}

.name-header {
  color: rgb(118, 26, 141);
  font-size: 40px;
  margin: 0px;
  margin-bottom: 20px;
}
.container > .hero {
  background-image: unset;
  background-color: #ebebeb;
  height: 500px;
  padding-top: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  max-width: 700px;
}

.intro {
  display: flex;
  width: auto;
  justify-content: center;
}

.intro__img {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.intro__img > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sub-header {
  font-family: 'Abhaya Libre', serif;
  margin-left: 64px;
  margin-top: 25px;
}

.sub-header p {
  margin-bottom: 4px;
  font-size: 22px;
  line-height: 30px;

  max-width: 400px;
}

.main {
  padding: 150px 50px;
}

@media (max-width: 400px) {
  .main {
    padding: 150px 30px;
  }
}

@media (max-width: 350px) {
  .main {
    padding: 150px 25px;
  }
}

@media (max-width: 800px) {
  .intro {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container > .hero{
    height: auto;
    padding: 150px 30px;
  }

  .sub-header {
    margin: 0;
    margin-top: 50px;
  }
}

/* mobile version */
@media (max-width: 900px) {
  /* .container > .hero {
    height: 390px;
  } */

  /* .sub-header {
    font-family: 'Abhaya Libre', serif;
    margin-left: 0px;
    text-align: center;
  } */

  .image-container {
    flex-direction: column;
    align-items: center;
  }
  .image-container img {
    width: 50%;
  }

  /* .intro {
    left: 1%;
    flex-direction: column;
    padding: 0 16px;
  } */

  #profile-image {
    margin-bottom: 15px;
  }

  .hero {
    height: 500px;
  }
}

.main p {
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  line-height: 1.7;
}

main p:not(.header-paragraph) {
  color: rgb(94, 94, 94);
}

.libre {
  font-family: 'Abhaya Libre', sans-serif;
  font-size: 22px;
}

.header-paragraph {
  padding-bottom: 40px;
  color: #333;
}

.main .header-paragraph,
b {
  font-size: 25px;
  font-family: 'Abhaya Libre', sans-serif;
}

.image-container {
  display: flex;
  justify-content: center;
}

.justify-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container img {
  margin: 8px 32px;
}

.text-center {
  text-align: center;
}

.primary-button {
  color: white;
  background-color: purple;
  padding: 12px 24px;
  border: none;
  font-family: 'Abhaya Libre', serif;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin: 32px;
}


a {
  text-decoration: none;
}
