* {
  margin: 0;
}

.name-header {
  color: rgb(118, 26, 141);
  font-size: 40px;
  margin: 0px;
  margin-bottom: 20px;
}
.container > .hero {
  background-image: unset;
  background-color: #ebebeb;
  height: 250px;
  padding-top: 30px;
}

.content {
  max-width: 700px;
}

.intro {
  display: flex;
  width: auto;
  justify-content: center;
}

.sub-header {
  font-family: 'Abhaya Libre', serif;
  margin-left: 64px;
  margin-top: 25px;
}

.sub-header p {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 30px;
}

.main {
  padding-top: 64px;
  padding-bottom: 64px;
}

@media (min-width: 1600px) {
  .main {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* mobile version */
@media (max-width: 900px) {
  .container > .hero {
    height: 390px;
  }

  .sub-header {
    font-family: 'Abhaya Libre', serif;
    margin-left: 0px;
    text-align: center;
  }

  .main {
    padding: 20px 16px;
  }

  .image-container {
    flex-direction: column;
    align-items: center;
  }
  .image-container img {
    width: 50%;
  }

  .intro {
    left: 1%;
    flex-direction: column;
    padding: 0 16px;
  }

  .intro > img {
    padding-right: 4px;
    padding-left: 4px;
    align-self: center;
  }

  #profile-image {
    margin-bottom: 15px;
  }

  .hero {
    height: 350px;
  }
}

.main p {
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  line-height: 1.6;
}

.libre {
  font-family: 'Abhaya Libre', sans-serif;
}

.header-paragraph {
  padding-bottom: 40px;
}

.main .header-paragraph,
b {
  font-size: 25px;
  font-family: 'Abhaya Libre', sans-serif;
}

.image-container {
  display: flex;
  justify-content: center;
}

.justify-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container img {
  margin: 8px 32px;
}

.text-center {
  text-align: center;
}

.primary-button {
  color: white;
  background-color: purple;
  padding: 4px 16px;
  border: none;
  font-family: 'Abhaya Libre', serif;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin: 32px;
}

footer {
  margin-top: 100px;
  padding: 0px;
  text-align: center;
}

a {
  text-decoration: none;
}
