* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cs {

    --section-padding: 150px 50px;
    --section-padding-half: 75px 50px;
    --section-padding-half-top: 75px 30px 150px;
    --section-padding-half-bottom: 1505px 30px 75px;
    --track-width: 1000px;
    --heading-font: 'Abhaya Libre', serif;
    --primary:  rgb(118, 26, 141);
    --bg-alt: #f9f9f9;


    font-family: 'Questrial', sans-serif;
    color: rgba(99, 99, 99);
    font-size: 18px;

}

@media (max-width: 500px) {
    .cs {
        font-size: 16px;

        --section-padding: 100px 30px;
        --section-padding-half: 50px 30px;
        --section-padding-half-top: 50px 30px 100px;
        --section-padding-half-top: 100px 30px 50px;
    }
}

.cs * {
    box-sizing: border-box;
}

.cs img {
    max-width: 100%;
    display: block;
}

.cs h1, .cs h2, .cs h3, .cs h4, .cs h5, .cs h5 {
    font-family: var(--heading-font);
    color: #333;
}

.cs p {
    line-height: 1.6;
}

.cs-container {
    max-width: var(--track-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.cs-container.small {
    max-width: 700px;
}

.cs-container:not(:last-child) {
    margin-bottom: 75px;
}

.cs-snap-left, .cs-snap-right, .cs-snap-center {
    max-width: 700px;
}

.cs-snap-center {
    align-self: center;
}

.cs-snap-right {
    align-self: flex-end;
}

.cs-container p:not(:last-child) {
    margin-bottom: 1em;
}

.cs-title {
    font-size: 3em;
    margin-bottom: 25px;
}

.cs-subtitle {
    font-size: 2.4em;
    margin-bottom: 18px;
}

.cs-list {
    list-style-position: inside;
    font-size: 1.25em;
    line-height: 1.7;
}

.cs-list li:not(:last-child) {
    margin-bottom: 1em;
}

p.lg {
    font-size: 1.5em;
}

p.md {
    font-size: 1.3em;
}

.cs .accent {
    color: var(--primary);
}

.cs-bg-alt {
    background-color: var(--bg-alt);
}

.cs-link {
    font-size: 1.3em;
    color: var(--primary);
    text-decoration: none;

    display: block;
    width: max-content;
    padding: 5px 0;

    font-family: var(--heading-font);
    border-bottom: 2px solid var(--primary);
    font-weight: bold;
}











.cs-header {
    margin-top: 100px;
    padding: var(--section-padding);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cs-header__title {
    font-size: 4.4em;
    margin-bottom: 30px;
}

.cs-header__subtitle {
    font-size: 1.3em;
    max-width: 800px;
    line-height: 1.6;

    margin-bottom: 40px;
}

.cs-header__image {
    margin-top: 150px;
}

.cs-header__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: var(--track-width);
    grid-gap: 100px;
    margin: 100px auto;

}

.cs-header__detail {
    font-size: 1.25em;
    max-width: 400px;
}


.cs-header__detail h3 {
    font-size: 1.7em;
    margin-bottom: 15px;
}

.cs-header__detail p {
    line-height: 1.6;
}

@media (max-width: 750px) {
    .cs-header__details {
        grid-gap: 50px;
    }
}

@media (max-width: 650px) {

    .cs-header__details {
        grid-column-gap: 25px;
        grid-row-gap: 50px;
    }

    .cs-header__detail h3 {
        font-size: 1.4em;
        margin-bottom: 15px;
    }

    .cs-header__detail:first-child, .cs-header__detail:last-child {
        grid-column: 1 / -1;
    }
}

@media (max-width: 470px) {
    .cs-header__details {
        grid-template-columns: 1fr;
    }
}







.cs-problem {

    background-color: var(--bg-alt);

    padding: var(--section-padding);

}

.cs-solution {
    padding: var(--section-padding);
    position: relative;
}

.cs-solution__img {
    position: absolute;
    top: 0; 
    left: 0;
    z-index: -1;

    height: 400px;
}

.cs-problem ul {
    margin-top: 25px;
    list-style-position: inside;
    font-size: 1.3em;
    line-height: 2;
}

.cs-solution p {
    font-size: 1.3em;
    line-height: 1.6;
}

.cs-process {
    padding: var(--section-padding-half-top);
}

.cs-process p.md {
    line-height: 1.7;
}

.cs-results {
    padding: var(--section-padding);
    background-color: var(--bg-alt);
}

.cs-results__figures {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--section-padding);
}

.cs-results__figures img:not(:last-child) {
    margin-bottom: 75px;
}

.cs-results__takeaways {
    padding: var(--section-padding-half-top);
}

.cs-analysis {
    padding: var(--section-padding);
}

.cs-analysis__action {
    padding: var(--section-padding);
}

.cs-personas {
    padding: var(--section-padding);
}

@media (max-width: 1060px) {
    .cs-solution .cs-container {
        margin-top: 125px;
    }

    .cs-solution__img {
        opacity: .4;
    }
}


.cs-personas__persona {
    background-color: #fff;
    border-radius: 5px;

    max-width: 1000px;
    margin: 0 auto;
    padding: 75px 50px;

    box-shadow:
        0 3.4px 2.7px rgba(0, 0, 0, 0.016),
        0 8.7px 6.9px rgba(0, 0, 0, 0.022),
        0 17.7px 14.2px rgba(0, 0, 0, 0.028),
        0 36.5px 29.2px rgba(0, 0, 0, 0.034),
        0 100px 80px rgba(0, 0, 0, 0.05)
    ;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;

}

.cs-personas__persona:not(:last-child) {
    margin-bottom: 75px;
}

.cs-personas__profile {
    height: 175px;
    width: 175px;

    border-radius: 50%;
    overflow: hidden;
}

.cs-personas__profile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}


.cs-personas__group h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.cs-personas__group ul {
    line-height: 1.7;
    list-style-position: inside;
}

.cs-personas__quote {
    font-style: italic;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.5;
}

.cs-personas__name {
    grid-row: 2 / 3;
}

@media (max-width: 850px) {
   .cs-personas__persona {
       grid-template-columns: 1fr;
       padding: 50px 25px;
   }
}