/*
  green rgb(35, 136, 100);
  purple rgb(118, 26, 141);
*/

* {
  font-family: 'Questrial', sans-serif;
  /* border-radius: 1px;
  border-color: red;
  border-style: dashed; */
}

.mt-32 {
  margin-top: 32px;
}

.inner-box {
  margin-top: 0px;
  margin-bottom: 50px;
}

.inner-box p {
  margin-top: 5px;
}

.primary-button {
  color: white;
  background-color: rgb(118, 26, 141);
  padding: 12px 24px;
  border: none;
  font-family: 'Abhaya Libre', serif;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: opacity .3s ease;
}

.primary-button:hover {
  opacity: .7;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.5em;
  font-family: 'Abhaya Libre', serif;
}

.hero {
  background-image: url(../images/background-image.png);
  background-size: cover;
  background-position: 25% 50%;

  height: 600px;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero p {
  margin: 0;
  padding: 0;
}

.hero .questrial {
  max-width: 250px;
}


/* 
.logo {
  width: 100px;
  position: absolute;
  top: 20px;

}

.nav {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav * {
  margin: 5px;
}

.nav a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  font-family: 'Abhaya Libre', serif;
}

.nav a:hover {
  border-bottom: 1px solid rgb(118, 26, 141);
} */

.socialMedia img {
  height: 15px;
}

.intro {
  box-sizing: border-box;
  max-width: 500px;
  width: 100%;
  padding-right: 50px;
  text-align: left;
}

@media (max-width: 850px) {

  .intro {
    padding: 45px;
  }

  .hero {
    height: 600px;

    background-image:
    linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(../images/background-image.png);
  }

  .hero .questrial {
    max-width: 300px;
  }

}

@media (max-width: 400px) {
  .intro {
    padding: 25px;
  }

  .hero .questrial {
    font-size: 18px;
  }
}


.questrial {
  font-size: 20px;
  line-height: 1.6;
}

.samples {

  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 25px;
  padding: 0 50px;

  max-width: 1000px;
  margin: 150px auto;
  flex-wrap: wrap;
  align-items: center;



}

.box-lg {
  /* min-width: 300px; */
  /* display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column; */
  flex-shrink: 1;
}

@media (max-width: 925px) {

  .samples {
    grid-template-columns: 1fr;
  }

  .box-lg {
    grid-row: 2 / -1;
  }
  
}

.box p {
  margin-top: 15px;
  line-height: 1.6;
  max-width: 500px;

  color: rgb(97, 97, 97);
}




.box-lg img {
  width: 100%;
}

.box img {
  width: 100%;
}

.name-intro-header {
  font-size: 36px;
  font-family: 'Abhaya Libre', serif;
  margin-top: 0px;
  margin-bottom: 0px !important;
}

.name-header {
  color: #761a8d;
  font-weight: 800;
  font-size: 56px;
  margin: 0px;
}

@media (max-width: 500px) {

  .name-intro-header {
    font-size: 24px;

  }

  .name-header {
    font-size: 36px;
  }
  
}

.connect-header {
  color: rgb(118, 26, 141);
  font-size: 30px;
  margin: 0px;
}

/* mobile */
@media (max-width: 500px) {

  .inner-box {
    margin-top: 50px;
  }

  .samples {
    margin-left: 0;
    margin-right: 0;
  }

  /* .intro {
    right: 10px;
    text-align: left;
    width: 150px;
  } */


  .logo {
    /* width: 50px; */
    top: 10px;
    left: 10px;
  }

  .nav {
    top: 10px;
    right: 10px;
    padding: 0;
    font-size: 16px;
    transform-origin: right center;
  }
  .samples {
    margin-top: 0;
  }

  .box .purple {
    margin-bottom: 0;
  }

  .box {
    width: 100%;
  }

  .box-lg {
    width: 100%;
  }

  .box-lg img {
    width: 80%;
  }

  footer {
    text-align: center;
  }
}
