/*
  green rgb(35, 136, 100);
  purple rgb(118, 26, 141);
*/

* {
  font-family: 'Questrial', sans-serif;
  /* border-radius: 1px;
  border-color: red;
  border-style: dashed; */
}

.mt-32 {
  margin-top: 32px;
}

.inner-box {
  margin-top: 0px;
  margin-bottom: 50px;
}

.inner-box p {
  margin-top: 5px;
}

.primary-button {
  color: white;
  background-color: rgb(118, 26, 141);
  padding: 4px 16px;
  border: none;
  font-family: 'Abhaya Libre', serif;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.5em;
  font-family: 'Abhaya Libre', serif;
}

.hero {
  background-image: url(../images/background-image.png);
  background-size: cover;
  background-position: 25% 50%;

  height: 500px;
  width: 100%;

  position: relative;
}

.logo {
  width: 100px;
  position: absolute;
  top: 20px;
  /* left: 20px; */
}

.nav {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav * {
  margin: 5px;
}

.nav a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  font-family: 'Abhaya Libre', serif;
}

.nav a:hover {
  border-bottom: 1px solid rgb(118, 26, 141);
}

.socialMedia img {
  height: 15px;
}

.intro {
  position: absolute;
  padding-top: 30px;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  width: 300px;
  color: black;
  text-align: left;
}

.samples {
  margin-top: 200px;
  width: auto;
  /*height:300px;*/
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
}

.questrial {
  line-height: 8px;
  font-size: 20px;
}

.box {
  min-width: 200px;
  width: 20%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.box-lg {
  min-width: 300px;
  width: 500px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.box-lg img {
  width: 100%;
}

.box img {
  width: 100%;
}

.name-intro-header {
  font-size: 30px;
  font-family: 'Abhaya Libre', serif;
  margin-top: 0px;
  margin-bottom: 0px !important;
}

.name-header {
  color: #761a8d;
  font-weight: 800;
  font-size: 40px;
  margin: 0px;
}

.connect-header {
  color: rgb(118, 26, 141);
  font-size: 30px;
  margin: 0px;
}

footer {
  text-align: center;
  margin-top: 256px;
  margin-bottom: 100px;
  font-size: 20px;
}

/* mobile */
@media (max-width: 500px) {
  .questrial {
    line-height: 30px;
  }

  .inner-box {
    margin-top: 50px;
  }

  .samples {
    margin-left: 0;
    margin-right: 0;
  }

  .intro {
    right: 10px;
    text-align: left;
    width: 150px;
  }
  .logo {
    /* width: 50px; */
    top: 10px;
    left: 10px;
  }

  .nav {
    top: 10px;
    right: 10px;
    padding: 0;
    font-size: 16px;
    transform-origin: right center;
  }
  .samples {
    margin-top: 0;
  }

  .box .purple {
    margin-bottom: 0;
  }

  .box {
    width: 100%;
  }

  .box-lg {
    width: 100%;
  }

  .box-lg img {
    width: 80%;
  }

  footer {
    text-align: center;
  }
}
