/* NAVBAR STYLES */

/* .navbar {
  display: grid;
  grid-template-rows: auto auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ebebeb;
  justify-items: space-around;
  grid-template-columns: repeat(12, 1fr);
} */

body {
  overflow-x: hidden;
}

.navbar {
  position: absolute;
  z-index: 100;
  width: 100vw;
  top: 0;
  left: 0;

  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 25px;
}

.navbar * {
  box-sizing: border-box;
}

.navbar__brand {
  width: 100px;
}

.navbar__brand img {
  display: block;
  width: 100%;
}

.navbar__links {
  display: flex;
  align-items: center;
}

.navbar__link {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #333;
  margin-left: 10px;
  padding: 10px;

  border-bottom: 1px solid transparent;
  transition: border .2s ease;
}

.navbar__link:hover {
  border-color: #761a8d;
}

@media (max-width: 500px) {
  .navbar__link {
    font-size: 16px;
    padding: 5px;
  }

  .navbar__brand {
    width: 70px;
  }
}

@media (max-width: 400px) {
  .navbar {
    padding: 15px;
  }
}

/* 

.logo {
  text-align: left;
  padding-left: 50px;
  grid-column: span 4;
}

.logo img {
  width: 75px;
} */

.title {
  text-align: center;
  align-self: end;
  grid-column: span 4;
}

.title p {
  font-family: 'Abhaya Libre', serif;
  font-size: 35px;
  font-weight: 600;
}

.links {
  text-align: right;
  align-self: start;
  margin-top: 20px;
  padding-right: 30px;
  grid-column: span 4;
}

.links ul {
  text-decoration: none;
  list-style: none;
}

.links li {
  float: right;
}

.links li a {
  display: block;
  color: black;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  text-decoration: none;
}

.links li a:hover {
  border-bottom: 1px solid #761a8d;
}

.links li a img {
  width: 20px;
}

.links li {
  font-size: inherit;
}

footer {
  text-align: center;
  padding: 150px 20px;
  font-size: 18px;

  color: rgb(140, 140, 140);
}

@media (max-width: 400px) {
  footer {
    font-size: 16px;
  }
}

/* MOBILE SCREEN AND BELOW */
@media (max-width: 950px) {
  /* .navbar {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
      'logo links'
      'title';
  } */

  .logo {
    grid-column: span 3;
    padding-left: 0;
  }

  .title {
    grid-column: span 12;
    order: 3;
  }

  .links {
    padding-top: 0;
    grid-column: span 9;
  }
}

@media (max-width: 450px) {
  .logo {
    text-align: center;
  }

  .logo img {
    max-height: 50%;
  }

  .links {
    padding-right: 10px;
  }

  .links li {
    font-size: 15px;
  }
}
